/**************************************************
* 	myNewTabMod by sakuyaa.
*	https://github.com/sakuyaa/
*	
*	在扩展数据文件夹中创建weather.css，
*	将会替代该文件为天气iframe设置css
*	
**************************************************/
/*链接白字蓝光*/
a {
	color: rgba(255, 255, 255, 1) !important;
	text-shadow: 0 1px rgba(64, 64, 255, 0.9), 0 1px 1px rgba(64, 64, 255, 0.9), 0 -1px 1px rgba(64, 64, 255, 0.9), 
		1px 0 1px rgba(64, 64, 255, 0.9), -1px 0 1px rgba(64, 64, 255, 0.9), 0 0 3px rgba(64, 64, 255, 0.9) !important;
}
a:hover {
	text-decoration: none;
}